<div class="post">
  <div class="header">
    <h1>Post title</h1>

    <button
      [routerLink]="'/'"
      class="btn btn-link">
      На главную
    </button>
  </div>

  <div class="info">
    <strong>Автор</strong>
    <small>Дата: 13.01.2021</small>
  </div>

  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloribus, explicabo facilis impedit maiores minus mollitia natus nisi possimus, provident quae quam quidem, quisquam quo rem repellat repellendus reprehenderit ullam unde vel? Aliquid at atque aut id impedit minima sunt ut. Accusamus ea eligendi in ipsum perspiciatis sint voluptas voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloribus, explicabo facilis impedit maiores minus mollitia natus nisi possimus, provident quae quam quidem, quisquam quo rem repellat repellendus reprehenderit ullam unde vel? Aliquid at atque aut id impedit minima sunt ut. Accusamus ea eligendi in ipsum perspiciatis sint voluptas voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloribus, explicabo facilis impedit maiores minus mollitia natus nisi possimus, provident quae quam quidem, quisquam quo rem repellat repellendus reprehenderit ullam unde vel? Aliquid at atque aut id impedit minima sunt ut. Accusamus ea eligendi in ipsum perspiciatis sint voluptas voluptatibus.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores doloribus, explicabo facilis impedit maiores minus mollitia natus nisi possimus, provident quae quam quidem, quisquam quo rem repellat repellendus reprehenderit ullam unde vel? Aliquid at atque aut id impedit minima sunt ut. Accusamus ea eligendi in ipsum perspiciatis sint voluptas voluptatibus.</p>
  </div>
</div>
